services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: clothes_shop
    volumes:
      - postgres-data:/var/lib/postgresql/data

  app:
    build:
      context: .
      target: runner
    depends_on:
      - postgres
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/clothes_shop?schema=public
    ports:
      - "3030:3000"
    volumes:
      - ./public:/app/public
    restart: unless-stopped

volumes:
  postgres-data:
