services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    networks:
      - network
networks:
  network:
    driver: bridge