services:
  app:
    build:
      context: .
      target: runner
    ports:
      - "3030:3000"
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
    volumes:
      - ./prisma:/app/prisma
      - ./public:/app/public
